@font-face {
  font-family: icomoon;
  src: url("../../../../fonts/icomoon/icomoon.eot?v=111111115");
  src: url("../../../../fonts/icomoon/icomoon.eot?#iefix")
      format("embedded-opentype"),
    url("../../../../fonts/icomoon/icomoon.woff?v=111111115") format("woff"),
    url("../../../../fonts/icomoon/icomoon.ttf?v=111111511") format("truetype"),
    url("../../../../fonts/icomoon/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.bma_choose_action,
.bma_choose_fields,
.bma_field,
.bma_choose_when_fields,
.bma_choose_rule {
  text-align: center;
  width: 100%;
  left: 100%;
}

.bma_choose_action {
  padding-top: 125px;
  box-sizing: border-box;
}
.slideToLeft {
  animation: slideLeft 0.4s;
}
.slideToRight {
  animation: slideRight 0.4s;
}
.bma_field {
  display: block;
  text-align: start;
}
.bma_page_title {
  font-size: 36px;
  line-height: 42px;
  color: #162d3d;
  text-align: center;
  margin-bottom: 15px;
}
.bma_page_desc {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #577083;
  margin: 10px 0;
}

.bmf-logic-add-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.bma_action,
.bma_action_or,
.bma_action_and {
  background: #fff;
  border: 0px solid blue;
  padding: 60px;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  border-radius: 6px;
  width: 270px;
}
.bma_action_or:hover,
.bma_action_and:hover {
  box-shadow: 0 3px 24px 0 rgba(22, 45, 61, 0.18);
}
.bma_action:hover {
  box-shadow: 0 3px 24px 0 rgba(22, 45, 61, 0.18);
}
.bma_show_icon,
.bma_hide_icon {
  text-align: center;
  font-size: 140px;
  color: #51b7f2;
}
.bma_show_icon:before {
  font-family: icomoon;
  content: "\e914";
}
.bma_hide_icon:before {
  content: "\e913";
  font-family: icomoon;
}
.bma_show_desc,
.bma_hide_desc {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #577083;
  margin-top: 30px;
}
.bma_ready_statements {
  padding: 0 30px;
  box-sizing: border-box;
  height: 100%;
  text-align: center;
  width: 100%;
  left: 100%;
}
.bma_ready_statements > * {
  font-family: HelveticaNeueW01-45Ligh, HelveticaNeueW02-45Ligh,
    HelveticaNeueW10-45Ligh, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.bma_statement > * {
  font-family: HelveticaNeueW01-45Ligh, HelveticaNeueW02-45Ligh,
    HelveticaNeueW10-45Ligh, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}
.bma_rule_desc {
  line-height: 56px;
  margin: 24px 120px;
  font-size: 48px;
  color: #20303c;
  border-bottom: 1px solid #b6c1cd;
  padding-bottom: 24px;
  min-height: 57px;
}
.bma_fields_list {
  background: #fff;
}

.bma_container {
  background: #f0f4f7;
}
.bma_fields_list,
.bma_cond_value {
  text-align-last: start;
  border-radius: 6px;
  font-size: 18px;
}
.bma_fields_list > div {
  background: #fff;
}
.bma_cond_value {
  display: block;
  min-height: 110px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 390px;
  margin: auto;
}
.bma_logic_input_value:focus {
  outline: none;
}
.bma_field,
.bma_sub_field {
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #d9e1e8;
  color: #2b5672;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: #ffffff;
  overflow: hidden;
  width: inherit !important;
}
.bma_field:hover {
  box-shadow: 0 3px 24px 0 rgba(173, 180, 185, 0.18);
  background: #d9e1e840;
}

.bma_back {
  position: fixed;
  bottom: 20px;
  cursor: pointer;
  left: 19px;
  font-style: italic;
  color: #3899ec;
}
.bma_subfields_cont {
  display: table;
  margin-left: 50px;
  text-align: left;
}
.bma_sub_field:hover {
  box-shadow: 0 3px 24px 0 rgba(173, 180, 185, 0.18);
  background: #d9e1e840;
}
.bma_field .bma_subfields_cont {
  align-content: start;
}
.bma_logic_input_value {
  width: 100%;
  border: 0;
  font-size: 18px;
  padding: 10px;
}
.bma_save_add_buttons {
  margin-top: 30px;
}
.bma_save_condition,
.bma_add_condition {
  height: 36px;
  padding: 7px 24px;
  border-radius: 18px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.bma_save_condition {
  background-color: #3899ec;
  color: #fff;
}
.bma_add_condition {
  background-color: #eaf7ff;
  color: #3899ec;
}

.bma_cond_value [type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}
.bma_cond_value [type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.bma_operators_parent {
  text-align: center;
  width: 100%;
  left: 100%;
  padding-top: 125px;
  box-sizing: border-box;
}

.bma_statementsReq_value {
  font-size: 45px;
  color: #3899ec;
}
.bma_desc_text {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #577083;
  margin-top: 30px;
}
.bma_price_value {
  display: inline-block;
  width: 40% !important;
}
.bma_opt_values {
  margin: auto;
  display: block;
  text-align: left;
  width: 390px;
  border-radius: 6px;
  margin-bottom: 20px;
  max-height: 100% !important;
  overflow: hidden;
  font-size: 18px;
}
.bma_select_fields .bma_field:last-child {
  margin-bottom: 60px;
}

.bma_ready_statements {
  padding: 25px 30px 0 30px;
  box-sizing: border-box;
  height: 100%;
}
.bma_statements_list {
  display: flex;
  width: 100%;
  min-height: 70%;
  justify-content: normal;
  flex-wrap: wrap;
}
.bma_statement {
  position: relative;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  margin: 10px;
  background: white;
  border-radius: 6px;
  cursor: pointer;
  min-height: 200px;
  font-size: 20px;
  text-align: left;
  color: #2b5672;
  padding-bottom: 60px;
  width: 30%;
  height: fit-content;
  height: -moz-available;
}
.bma_statement:hover {
  box-shadow: 0 3px 24px 0 rgba(22, 45, 61, 0.18);
  .bma_delete_statement,
  .bma_add_cond {
    display: block;
  }
}
.bma_add_cond:hover,
.bma_delete_statement:hover,
.bma_conditions_delete:hover {
  background: #dfeaf3;
}
.bma_add_cond {
  right: 35px;
}
.bma_delete_statement {
  right: 5px;
}
.bma_delete_statement,
.bma_add_cond,
.bma_conditions_delete {
  display: none;
  border-radius: 14px;
}
.bma_delete_statement,
.bma_add_cond {
  position: absolute;
  padding: 6px;
  bottom: 10px;
  color: #3899ec;
}
.bma_statement_header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: #d3edff;
  padding: 15px 30px;
}
.bma_conditions_rule {
  cursor: pointer;
  font-size: 20px;
  text-align: left;
  color: #2b5672;
  border-bottom: 1px solid #d9e1e8;
  padding: 15px 0;
  margin: 0 40px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
.bma_cond_display {
  word-break: break-all;
  margin: 0;
  width: 93%;
}
.bma_conditions_delete {
  height: fit-content;
  width: 7%;
  text-align: end;
}
.bma_add_new_statement {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  background-color: #3899ec;
  box-sizing: border-box;
  padding: 12px;
  cursor: pointer;
  margin: 90px 20px 25px 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
body,
.root,
.App {
  height: 100%;
}
body {
  background-color: #f0f3f5;
}
// .App{
//   overflow-x: hidden;
// }

.bma_logic_parent {
  height: 100%;
}
.bma_statements_list > * {
  font-family: HelveticaNeueW01-45Ligh, HelveticaNeueW02-45Ligh,
    HelveticaNeueW10-45Ligh, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.f_name:before {
  content: "\e908";
}
.f_text:before {
  content: "\e910";
}
.f_textarea:before {
  content: "\e90a";
}
.f_address:before {
  content: "\e900";
}
.f_email:before {
  content: "\e905";
}
.f_phone:before {
  content: "\e90c";
}
.f_number:before {
  content: "\e909";
}
.f_website:before {
  content: "\e912";
}
.f_date:before {
  content: "\e903";
}
.f_time:before {
  content: "\e911";
}
.f_checkbox:before {
  content: "\e901";
}
.f_radio:before {
  content: "\e90f";
}
.f_select:before {
  content: "\e904";
}
.f_custom:before {
  content: "\e902";
}
.f_price:before {
  content: "\e90d";
}
.f_map:before {
  content: "\e907";
}
.f_starrating:before {
  content: "\e9d7";
}
.f_scalerating:before {
  content: "\e91d";
}
.f_file:before {
  content: "\e906";
}
.f_customHTML:before {
  content: "\e902";
}
.f_password:before {
  content: "\e90b";
}
.f_signature:before {
  content: "\e90e";
}
.f_name:before,
.f_signature:before,
.f_password:before,
.f_file:before,
.f_map:before,
.f_price:before,
.f_custom:before,
.f_select:before,
.f_radio:before,
.f_checkbox:before,
.f_time:before,
.f_date:before,
.f_website:before,
.f_number:before,
.f_phone:before,
.f_email:before,
.f_address:before,
.f_text:before,
.f_textarea:before,
.f_starrating:before,
.f_scalerating:before,
.f_customHTML:before {
  font-family: icomoon;
  margin-right: 20px;
}
.bma_add_new_statement:before {
  content: "\e917";
  font-family: icomoon;
  color: white;
  font-size: 30px;
}

.bma_add_cond:before {
  content: "\e917";
  font-family: icomoon;
}

.bma_delete_statement:before,
.bma_conditions_delete:before {
  content: "\e918";
  font-family: icomoon;
}
.bma_rule_text {
  font-size: 48px !important;
  color: #20303c;
  line-height: 56px;
}
.bma_select_fields {
  text-align: center;
}
.bma_select_country {
  height: 35px;
}
@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(+100%);
  }
  100% {
    transform: translateX(0);
  }
}

input {
  -webkit-user-select: text;
}
