.conditional_mailing_page {
  width: 100vw;
  height: 100vh;

  .empty_state,
  .conditional_mailing_layout {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
