.map_page {
  width: 100vw;
  height: 100vh;

  .map_loader,
  .map_empty_state {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.manageMarkersButton {
  z-index: 1;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  color: black;
}

.manageMarkersButton:hover {
  color: white;
}

.showCenter {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  font-size: 28px;
}

.gm-style .gm-style-iw-t::after,
.gm-style .gm-style-iw-c {
  top: -40px !important;
}
