.fields_dropdown,
.conditions_dropdown,
.options_dropdown,
.date_picker,
.time_picker,
.dollar_input,
.cent_input,
.common_input,
.email_type_dropdown,
.form_emails_dropdown {
  max-width: 400px;
  width: 100%;
}

.condition {
  gap: 10px;
  height: 450px;
}