.fields_dropdown,
.conditions_dropdown,
.options_dropdown,
.date_picker,
.time_picker,
.dollar_input,
.cent_input,
.common_input,
.email_type_dropdown,
.form_emails_dropdown {
  max-width: 400px;
  width: 100%;
}

.toggle_container {
  .segmented_toggle {
    display: flex;
    width: fit-content;
    max-width: 100%;
    gap: 8px;
  }
}

.condition_wrapper {
  .condition {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 450px;
  }

  ․remove_condition_wrapper {
    visibility: none;
    width: 0px;
    height: 0px;
  }
}
